# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
myenv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

.saved_data
*.npz
*.pdf
*.mp4
*.gif
*.pth
*.zip